body
{
    background-image:url("./Wallpaper/14.webp");
    background-size:cover;
    background-repeat:no-repeat;
}

h1
{
    text-align:center;
}

#tab1
{
    text-align: center;
    border: 3px darkblue dashed;
    padding: 8px;
}

#tabh1
{
    color:darkorchid;
    text-align: justify;
}

#tabd1
{
    color:darkslategray;
    border: 1px black solid;
}

#tabd2
{
    color:deeppink;
    border: 1px black solid;
}
